@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 255, 255, 255;
  --color-primary-light-rgba: 91 173 52 / 0.1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    /* font-family: "Montserrat, sans-serif"; */
}

/* ************Contact **********/
.contact-container{
  display: grid;
  place-items: center;
  margin-top:40px;
}

.contact-wrapper{
  width: fit-content;
  display: flex;
  gap: 2rem;
}
.contact-wrapper a{
  background:  #5BAD34;
  font-size: 3rem;
  border: 2px solid transparent;
  color: white;
  padding: 1rem;
  border-radius: 1.5rem;
}

.contact-wrapper a:hover{
  background: black;
    border-color: rgb(190, 190, 190);
}

***************navbar***************
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
}

.links {
  padding: 1rem;
  font-weight: 400;
  font-size: 1.3rem;
}


.toggle-btn {
  display: none;
}



@media (max-width: 600px) {
 .contact-container{
  gap: 1rem;

}
   .Nav-link > ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100% auto;
    height: 100%;
    margin-top: -10rem;
    margin-left: 100px;
  }

  .Nav-link > ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100% auto;
    height: 100%;
    margin-top: -6rem;
    margin-left: auto;
    margin-right: auto;
  }

  .Nav-link {
    display: none;
    position: fixed;
    top: 170px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    overflow: hidden;
    background: rgb(250,250,250);
    border-bottom-right-radius: 60px;
    transition: all 0.5s ease;
    z-index: 9;
  }

  .anchor {
    padding: 8px 8px 8px 64px;
    cursor: pointer;
    color: black;
  }

  .anchor:hover {
    text-decoration: underline;
  }
  .showNav {
    display: flex;
  }

  .hideNar {
    display: none;
  }

  .toggle-btn {
    font-size: 3.1rem;
    margin-top: -15rem;
    margin-left: 18rem;
   
    color: black;
    transition: 0.25s ease;
    background: transparent;
    border: none;
    display: initial;
  }
}

/* main{
  min-height: calc(100svh - 635px);
  @apply flex flex-col max-w-screen-xl mx-auto my-20 
} */

/* section{
  @apply my-20
} */

/* .btn_primary{
  @apply text-white bg-colorPrimary px-4 py-2 rounded
} */

.social_handle{
  @apply flex dark:text-black dark:bg-white text-3xl text-white bg-black p-1 rounded
}

/* .heading_secondary{
  @apply text-5xl text-center mb-20


} */

/* .heading_tertiary{
  @apply font-bold text-3xl mb-4
}

.full_bleed{
  box-shadow: 0 0 0 100vmax rgba(var(--color-primary-light-rgba));
  clip-path: inset(0 -100vmax);
  padding:  20px 0;
} */

/* .section_grid{
  @apply grid md:grid-cols-2 gap-10 items-center
} */

